import { Component } from '@angular/core';
import { CommonModule } from '@angular/common';
import { RouterLink } from '@angular/router';
import { ProveedorContextService } from '../../../core/services/proveedor-context.service';

@Component({
  selector: 'app-proveedor-dashboard',
  standalone: true,
  imports: [CommonModule, RouterLink],
  templateUrl: './proveedor-dashboard.html',
  styleUrl: './proveedor-dashboard.css'
})
export class ProveedorDashboard {
  constructor(private ctx: ProveedorContextService) {}
  proveedor$ = this.ctx.getProveedorActual();
}