/* You can add global styles to this file, and also import other style files */
:root {
  --malvi-yellow: #ffc107;
  --malvi-red: #e9184b;
  --malvi-red-dark: #c3133e;
  --malvi-blue-dark: #113b7a;
}

html, body {
  height: 100%;
  margin: 0;
}

body, app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
